.sideRight{
    flex: 4;
    position: sticky;
    top: 160px;
}
.sideRightwrapper{
    padding: 10px;
}
.sideRightNotification{
    box-shadow: rgba(8, 8, 8, 0.4) 1.95px 1.95px 2.6px;   
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-height: 100px;
    margin: 10px 0px;
}
.descriptionRead{
    display: flex;
    justify-content: right;
    cursor: pointer;
}
.sideRightNotificationTopic{
    display: flex;
    justify-content: space-between;
}
.notificationTittle{
    font-size: 20px;
    font-weight: 600;
}
.notificationDate{
    font-size: 14px;
    font-weight: 500;;
}

.notificationTit{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: center;
    /* background-color: rgb(3, 146, 134); */
}