
.main-faeture-cont-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: black; */
    z-index: 99;
    justify-content: center;
    align-items: center;
}
.featurebody-1{
    height:100px;
    width: 100%;
    display: flex;
    margin-bottom: 1.5rem;
}
.feat-1{
    width: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
    margin: .5rem;
}
.feat-2{
  
    width: 100%;
}
.feat-5{
    width: 100%;
    /* background-color: aliceblue; */
    position: relative;
    bottom: 20%;
    text-align: right;
    padding:.5rem 1rem;
}
.feat-4 a{
    font-size: .9rem;
    text-decoration: none;
    color: black;
}
.featurebody-2{
    height: 56px;
    margin-bottom: 2rem;
}

.feet-6{
    display: flex;
    align-items: center;
    height: 23px;
    padding: .6rem;
    margin-top: .2rem;
}

@media (max-width:850px) {
 .main-faeture-cont-1{
    margin-top: 40px;
 }
.featurebody-1{
    margin: 0;
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.feat-1{
    width: 20%;
}
.feat-2{
    width: 70%;
}
.feat-5{
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: right;
    right: 10px;
    
}

}